.ligne1 {
    width: 3vw;
    border-top: 2.5px solid blue;
    margin-bottom: 1.5vh;
}

.ligne2 {

    width: 4vw;
    border-top: 2.5px solid blue;
}

.icon {
   cursor: pointer;
}
.icon:hover{
    transform: translateX(3%);
}


@media screen and (max-width:750px) {

    .ligne1,
    .ligne2 {
        border-color: yellow;
    }

}