.ligne1{
    width: 3vw;
    border-top: 2.5px solid blue;
    margin-bottom: 1.5vh;
}
.ligne2{
  
    width: 4vw;
    border-top: 2.5px solid blue;
}

.icon{
   transform: rotate(180deg);
   
}

@media  screen and (max-width:550px) {
    .ligne1,.ligne2{
        border-color: yellow;
    }

}